* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: Avenir;
    padding: 20px;
}
/*titre h1*/
h1{
  color: coral;
  font-size: 1.3rem;
  text-align: center;
  background:beige;
  height:100px;
  width:100%;
  border:2px dashed;
  line-height: 100px;
}


/*titre h2 formulaire2*/
h2{
  text-align: center;
  background:beige;
  height:200px;
  color:orangered;
  line-height: 200px;
  font-size:3rem;
  border: 2px dashed orangered;
  border-radius: 10px;
}




/*titre h3*/
h3 {
    color: coral;
    font-size: 1.3rem;
    text-align: center;
    margin:30px;
}

/*ligne de séparation*/
hr{
  border:2px dashed crimson;
}

/*balise de description*/
textarea{
  margin-bottom: 20px;
  height:100px;
  box-shadow: 0px 0.1px 2px 0.9px #696666;
  border: none;
  padding: 5px 10px 5px 20px;
  border-radius: 10px;
  font-size: 1rem;
}

/*balise input*/
input{
    box-shadow: 0px 0.1px 2px 0.9px #696666;
    border: none;
    font-size: 1rem;
    height: 36px;
    padding: 5px 10px 5px 20px;
    border-radius: 10px;
}

/*balise input number à regler*/
input[type=number]{
  margin: 20px 0px 20px 0px;
  width:100%;
  border-radius: 10px;
}

/*tout le formulaire bien centrer*/
.formulaire{
  width: 400px;
  margin-left: 625px;
  display: flex;
  flex-direction: column;
}
.formulaire .btn {
    background: #FFEBCD;
    border: 2px solid crimson;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 20px 0;
    height: 50px;
    width:100%;
    padding: 8px;
    text-align: center;
    font-weight: bold;

}
.formulaire .btn:hover {
    background: yellow;
    color: white;
}

/*tout le formulaire edit bien centrer*/
.formulaire2{
  width: 500px;
  margin: 50px 0px 50px 625px;
  display: flex;
  flex-direction: column;
}

.formulaire2 label{
  box-shadow: 0px 0.1px 2px 0.9px #696666;
  font-size: 1rem;
  height: 36px;
  padding: 5px 10px 5px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.formulaire2 input{
  margin-bottom: 20px;
  border:2px dashed black;
  box-shadow: 0px 0px 0px 0px #696666;
}

.formulaire2 .btn {
    background: orange;
    border: 2px solid crimson;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 20px 0;
    height: 50px;
    width:100%;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color:white;
}
.formulaire2 .btn:hover {
    background-color: #FFEBCD;
    color: black;
}

.clickable {
    cursor: pointer;
}
.f-row, .f-col {
    display: flex;
}



p {
    box-shadow: -0.9px 0.1px 6.1px 0.2px #696666;
    border-radius: .1rem;
    max-width: 720px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: justify;
}
p:empty {
    display: none;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid black;
  height: 42px;
  width: 42px;
  padding: 8px;
  text-align: center;
}

thead{
  background: beige;
  font-weight: bold;
  color: crimson;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
label[for] {
    cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
}
[disabled] {
    cursor: not-allowed;
}

.tabler {
    margin-bottom: 40px;
    width:50%;
    margin-left: 25%;
}

.tabler-btn {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.05rem;
  padding: 8px;
}


.update .tabler-btn {
  border-color: #B4D455;
}
.delete .tabler-btn {
  border-color: darkorange;
}
.update .tabler-btn:hover {
  background: #B4D455;
}
.delete .tabler-btn:hover {
  background: darkorange;
}

.tabler-btn:hover {
  color: white;
}
